.crypto__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.crypto{
    flex: 0.7;
    padding-left: 20px;
}

.crypto__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 50px 0;
}

.showMore{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(45, 45, 194);
    text-decoration: none;
}